<div class="container">
  <div class="bs-docs-section">
    <h1 id="tables" class="page-header">Editing post</h1>
    <div class="bs-example">
    	<%= render 'form' %>

		<%= link_to 'Show', @post %> |
		<%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>